In [13]:
# At the top of your notebook
from sqlalchemy import create_engine, text
import pandas as pd
from dotenv import load_dotenv
import os

In [4]:
# Load environment variables
load_dotenv()

# Create engine once
engine = create_engine(f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}")

# Then use it in your queries
query = "SELECT * FROM drivers;"
df = pd.read_sql(query, engine)

In [5]:
df

,driverid,driverref,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant
857,859,lawson,40,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson
858,860,bearman,38,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman
859,861,colapinto,43,COL,Franco,Colapinto,2003-05-27,Argentinian,http://en.wikipedia.org/wiki/Franco_Colapinto

In [15]:
def get_fastest_lap():
    with engine.connect() as connection:
        query = text("""
            SELECT lt.*
            FROM lap_times lt
            JOIN drivers d ON lt.driverId = d.driverId
            JOIN races r ON lt.raceId = r.raceId
            WHERE d.surname = 'Verstappen'
              AND r.year = 2021
              AND r.name = 'Abu Dhabi Grand Prix'
            ORDER BY lt.milliseconds ASC
            LIMIT 1;
        """)
        # Execute the query and fetch the results into a DataFrame
        fastest_lap_data = pd.read_sql(query, connection)
    
    return fastest_lap_data

# Call the function and store the result in a DataFrame
fastest_lap_df = get_fastest_lap()

# Display the DataFrame
print(fastest_lap_df)

   raceid  driverid  lap  position      time  milliseconds
0    1073       830   39         2  1:26.103         86103

In [17]:
# # get telemetry data for lap 39 of raceid 1073 for driverid 830
# query = "SELECT * FROM telemetry WHERE raceid = 1073 AND driverid = 830 AND lap = 39;"
# df = pd.read_sql(query, engine)
# df